[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "epidecodeR"]
	path = epidecodeR
	url = https://github.com/kandarprj/epidecoder
	shallow = true
	registered = true
